<a routerLink="/items" class="back-link">← Back to list</a>

<div *ngIf="loading$ | async" class="loading">Loading character...</div>

<div *ngIf="(error$ | async) as error" class="error">
  {{ error }}
</div>

<div *ngIf="(item$ | async) as item" class="details-wrapper">
  <img [src]="item.image" class="profile-img" />

  <div class="info">
    <h1>{{ item.fullName }}</h1>

    <p><strong>Nickname:</strong> {{ item.nickname || '—' }}</p>
    <p><strong>House:</strong> {{ item.hogwartsHouse || '—' }}</p>
    <p><strong>Actor:</strong> {{ item.interpretedBy || '—' }}</p>
    <p><strong>Birthdate:</strong> {{ item.birthdate || '—' }}</p>

    <p>
      <strong>Children:</strong>
      {{ item.children?.length ? item.children.join(', ') : '—' }}
    </p>
  </div>
</div>
